.row
  .col-lg-12
    %h1.page-header Quiddler Dashboard
.row
  .col-lg-3.col-md-6
    .panel.panel-primary
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-comments.fa-5x
          .col-xs-9.text-right
            .huge= @active_games_count
            %div Active Games!
      %a{:href => "#"}
        .panel-footer
          %span.pull-left View Active Games
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-green
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-tasks.fa-5x
          .col-xs-9.text-right
            .huge= @active_players_count
            %div Active Players!
      %a{:href => "#"}
        .panel-footer
          %span.pull-left View Players
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-yellow
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-shopping-cart.fa-5x
          .col-xs-9.text-right
            .huge= @active_words_count
            %div Total Active Words!
      %a{:href => "#"}
        .panel-footer
          %span.pull-left View Words
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-red
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-support.fa-5x
          .col-xs-9.text-right
            .huge= @word_verifications_count
            %div Word Verifications
      %a{:href => "#"}
        .panel-footer
          %span.pull-left View Word Verifications
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix
.row
  .col-lg-8
    .panel.panel-default
      .panel-heading
        %i.fa.fa-bar-chart-o.fa-fw
        Active Games
        .pull-right
          .btn-group
            %button.btn.btn-default.btn-xs.dropdown-toggle{type: 'button', data: {toggle: 'dropdown'}, aria: {expanded: 'false'}}
              Time Frame
              %span.caret
            %ul.dropdown-menu.pull-right{role: 'menu'}
              %li= link_to 'Week', '/admin/area_chart/week/day'
              %li= link_to 'Month', '/admin/area_chart/month/day'
              %li= link_to '6 Months', '/admin/area_chart/6months/month'
              %li= link_to 'Year', '/admin/area_chart/year/month'
              %li= link_to 'Year to Date', '/admin/area_chart/ytd/month'
      .panel-body
        #active-games-area-chart
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %i.fa.fa-bell.fa-fw
        Notifications Panel
      .panel-body
        .list-group
          %a.list-group-item{:href => "#"}
            %i.fa.fa-comment.fa-fw
            Last Points Given
            %span.pull-right.text-muted.small
              %em 4 minutes ago
          %a.list-group-item{:href => "#"}
            %i.fa.fa-twitter.fa-fw
            Last Game Activated
            %span.pull-right.text-muted.small
              %em= last_game_activated
          %a.list-group-item{:href => "#"}
            %i.fa.fa-envelope.fa-fw
            Last Game Deactivated
            %span.pull-right.text-muted.small
              %em= last_game_deactivated
          %a.list-group-item{:href => "#"}
            %i.fa.fa-tasks.fa-fw
            Last Word Verification
            %span.pull-right.text-muted.small
              %em= last_word_verification
          %a.list-group-item{:href => "#"}
            %i.fa.fa-upload.fa-fw
            Last Word Rejected
            %span.pull-right.text-muted.small
              %em Coming Soon
:javascript
  var activeGamesChartData = $.parseJSON("#{j @active_games_chart_data.to_json}");
  $(function() {
    Morris.Area({
        element: 'active-games-area-chart',
        data: activeGamesChartData,
        xkey: 'period',
        ykeys: ['active_games'],
        labels: ['Active Games'],
        pointSize: 2,
        hideHover: 'auto',
        resize: true,
        parseTime: false
      });
  });
